body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #009999;
  margin: 100px;
}

#lampada {
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.off{
  background-image: url(./img/lampadaApagada.svg);
}

.on{
  background-image: url(./img/lampadaAcesa.svg);
}

#interruptor{
  width: 400px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.interruptorOff{
  background-image: url(./img/interruptorOff.svg);
}

.interruptorOn{
  background-image: url(./img/interruptorOn.svg);
}