:root{
    --primary-color: #37268C;
    --secondary-color: #2E245E;
    --white-default: #F5F5F5;
    --white-principal: #ffffff;
    --grey-1: #333333;
    --grey-2: #373636;
    --grey-3: #292929;
    --grey-4: #c1c1c1;
    --grey-5: #d2d2d2;
    --grey-6: #757575;
}