@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

/* Foram adiconadas as classes primeiramente em modo claro, depois em modo escuro, para facilitar a visualização */

body {
    font-family: 'Inter', sans-serif;
    display: flex;
}

.titulo {
    color: var(--grey-1);
}

.dark {
background-color: rgb(21, 23, 24)
}

.toggleBtn {
    height: 20px;
    width: 70px;
    z-index: 2;
    padding: 0.5rem;
    text-align: center;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white-default);
    margin-top: 10px;
}

.dark .toggleBtn {
    background-color: #828282;
}

.fa-sun {
    color: var(--primary-color);
    background: none;
}

.dark .fa-sun {
    color: var(--white-default)
}

.dark .fa-moon {
    color: var(--primary-color)
}

.bgMove {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    border-radius: 50%;
}

.bgMove.active {
    color: var(--white-default);
}

.active {
    color: var(--white-default);
    transition: all 0.4s linear;
}

i {
    z-index: 4;
    width: 80px;
    margin: .5rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.4s linear;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    background: #ffffff;
    z-index: 1;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 40px;
    margin-top: -10px;
    margin-left: -20px;
}

.dark .cabecalho {
    background: var(--grey-1);
    box-shadow: 0px 3px 5px 0px rgba(176, 176, 176, 0.1);
}

.cabecalho h1 {
    margin-left: 40px;
}

.dark .cabecalho h1 {
    color: var(--white-default);
}


.cabecalho h1:hover {
    cursor: pointer;
}

.cabecalho label {
    margin-right: 20px;
}

.div-header{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    align-items: center;
}

.menu {
    display: flex;
    gap: 100px;
}

.menu-itens {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu-item {
    border-bottom: 3px solid transparent;
    padding-bottom: 8px;
    transition: all 0.5s ease;
}

.dark .menu-item {
    border-bottom: 3px solid transparent;
    padding-bottom: 8px;
    transition: all 0.5s ease;
    color: var(--white-default);
}

.menu-item:hover {
    border-bottom: 3px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.dark .menu-item:hover {
    border-bottom: 3px solid #828282;
    color: #828282;
}

.principal {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 120px 75px 20px;
}

.sem-produto {
    font-size: 24px;
}

.dark .sem-produto {
    color: var(--white-default);
}

.lista-produtos {
    display: flex;
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
    gap: 20px 20px;
    align-items: center;
}

.cards {
    width: 269px;
    height: 400px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
}

.dark .cards {
    background: #181a1b;
    color: var(--grey-2);
}

.cards:hover {
    border: 2px solid var(--secondary-color);
    transition: all 0.5s ease-in-out;
}

.cards:hover img {
    transform: scale(1.2);
    transition: 0.2s;
    box-sizing: content-box;
}

.dark .cards:hover{
    border: 2px solid var(--primary-color);
}

.div-card-img {
    background-color: var(--white-default);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    box-sizing: content-box;
}

.dark .div-card-img {
    background: var(--grey-3);
}

.card-itens {
    padding: 0 20px;
    display: flex;
    max-height: 250px;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    height: 100%;
}

.card-img {
    width: 150px;
    transition: 0.5s;
    box-sizing: content-box;
}

.card-categoria {
    background-color: var(--secondary-color);
    width: fit-content;
    height: 20px;
    color: var(--white-default);
    font-size: 10px;
    margin-top: 10px;
    align-items: center;
    display: flex;
}

.dark .card-categoria{
    background-color: var(--primary-color);
}

.card-itens h2 {
    font-size: 16px;
}

.dark .card-itens h2{
    color: var(--grey-5);
}

.card-descricao {
    font-size: 14px;
}

.dark .card-descricao{
    color: var(--grey-5);
}

.card-preco {
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: bold;
}
.dark .card-preco{
    color: var(--primary-color);
}

.card-adc-carrinho {
    font-size: 14px;
    font-weight: normal;
    background: none;
    border: none;
    margin-bottom: 10px;
    display: flex;
    transition: all 0.2s ease-in;
}

.dark .card-adc-carrinho{
    color: var(--grey-5);
}

.card-adc-carrinho:hover {
    text-decoration: underline;
    color: var(--secondary-color);
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.dark .card-adc-carrinho:hover{
    color: var(--primary-color);
}

.carrinho {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 50px;
}

.pesquisa{
    margin-top: 15px;
}

.form-pesquisa {
    display: flex;
}

.input-pesquisa {
    border: none;
    background: var(--white-default);
    padding: 10px;
}

.dark .input-pesquisa {
    background: var(--grey-3);
}

.input-pesquisa:focus {
    outline: none;
}

.input-pesquisa::placeholder {
    font-size: 14px;
    color: var(--grey-1);
}

.dark .input-pesquisa::placeholder {
    color: white;
}

.btn-pesquisar {
    background: var(--primary-color);
    color: var(--white-default);
    border: none;
    font-size: 14px;
    padding: 10px;
    transition: all 0.3s ease-in;
    font-family: 'Inter', sans-serif;
}

.btn-pesquisar:hover {
    background: var(--secondary-color);
    cursor: pointer;
}

.dark .btn-pesquisar {
    color: var(--grey-5);
    background: var(--secondary-color);
}

.carrinho-cabecalho {
    background: var(--primary-color);
    color: var(--white-default);
    padding: 10px 15px;
    text-align: center;
}

.dark .carrinho-cabecalho {
    background: var(--secondary-color);
    color: var(--grey-5);
}

.carrinho-cabecalho h2 {
    font-size: 16px;
}

.carrinho-main {
    background: var(--white-default);
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 220px;
    overflow-y: scroll;
}

.dark .carrinho-main {
    background: var(--grey-3);
    color: var(--grey-5);
}

.carrinho-main::-webkit-scrollbar {
    width: 5px;
}

.carrinho-main::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--grey-4);
}

.carrinho-main h3 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
}

.carrinho-vazio {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carrinho-vazio p {
    display: flex;
    font-size: 14px;
    text-align: center;
    align-items: center;
}

.carrinho-vazio-hidden {
    display: none;
}

.carrinho-produtos {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.carrinho-item {
    display: flex;
    margin-top: 0px;
}

.carrinho-item img {
    width: 80px;
}

.carrinho-item p {
    font-size: 12px;
    margin-bottom: 0px;
}

.carrinho-img-div {
    display: flex;
    align-self: flex-start;
    height: 100%;
    margin-left: -30px;
}

.carrinho-descricao {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    margin-top: -10px;
}

.carrinho-descricao img {
    background-color: var(--white-principal);
}

.dark .carrinho-descricao img {
    background-color: var(--grey-6)
}

.carrinho-detalhes {
    display: flex;
    flex-direction: column;
    height: 80%;
    padding: 1px;
}

.preco {
    color: var(--secondary-color);
}

.dark .preco{
    color: var(--primary-color);
}

.carrinho-remover {
    background: none;
    border: none;
    font-size: 10px;
    text-align: left;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
}

.dark .carrinho-remover{
    color: var(--grey-5);
}
.carrinho-remover:hover {
    color: var(--secondary-color);
    text-decoration: underline;
    cursor: pointer;
}

.dark .carrinho-remover:hover{
    color: var(--primary-color);
}

.carrinho-rodape {
    background: var(--grey-1);
    color: var(--white-default);
    display: flex;
    flex-direction: column;
}

.dark .carrinho-rodape {
    background: var(--secondary-color);
    color: var(--grey-6);
}

.carrinho-rodape-hidden {
    display: none;
}

.carrinho-quantidade {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.carrinho-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}